header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo_image {
  height: 75px;
  padding-top: 10px;
}

hr {
  margin-bottom: 20px;
}

.name_and_position {
  padding-right: 5px;
  color: #2d3c49;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main_image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

body {
  font-family: 'Encode Sans Condensed', sans-serif, verdana;
}

h1 {
  margin-bottom: 0px;
  font-size: 50px;
  margin-top: 0px;
  padding-top: 10px;
}

h3 {
  margin-top: 0px;
}

h2 {
  color: #7d97ad;
}

.project_1, .project_2, .project_3 {
  color: #2d3c49;
}

.social_media > a > img {
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
  padding-right: 5px;
  cursor: pointer;
}

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer > p {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  padding-right: 5px;
}

.project_1 > a > img, .project_2 > a > img, .project_3 > a > img {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.button {
  cursor: pointer;
  min-width: 48px;
  min-height: 48px;
  padding: 5px;
  background-color: rgba(22, 136, 216, 0.3686274509803922);
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

.mockup, .hammerhead, .pixel_art_maker {
  width: 320px;
  height: 200px;
}

footer > hr {
  margin-top: 15px;
}

.project_1 > p, .project_2 > p, .project_3 > p {
  margin-bottom: 10px;
}

.profile_and_content {
  display: grid;
}

.profile {
  grid-column: 1;
  margin-right: 15px;
  background-color: rgba(22, 136, 216, 0.3686274509803922);
  border-radius: 10px;
}

.about_me_section > p > span {
  font-weight: bold;
}

.about_me_section > p {
  margin-left: 10px;
  margin-right: 10px;
}

.profile_picture {
  border-radius: 10px;
  margin-top: 20px;
  width: 160px;
  height: 160px;
}

.profile_picture_and_about_me_sections {
  display: flex;
}

.skills_section > p {
  font-weight: bold;
}

.skills_section {
  margin-left: 10px;
  margin-right: 10px;
}

.skills_listed > img {
  width: 40px;
  height: 40px;
}

.main_content {
  grid-column: 2;
}

@media screen and (min-width: 550px) {
  .logo_image {
    height: 100px;
  }
}

@media screen and (min-width: 550px) and (max-width: 659px) {
  h1 {
    padding-top: 25px;
  }
}

@media screen and (max-width: 659px) {
  .list_of_projects {
    display: grid;
    justify-content: center;
  }

  .featured_work > h2 {
    font-size: 15px;
  }

  h1 {
    font-size: 30px;
  }

  .profile {
    grid-row: 1;
    grid-column: 1;
    margin-bottom: 15px;
    width: 100%;
    display: grid;
  }

  .profile_picture {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 75px;
    height: 75px;
  }

  .main_content {
    grid-row: 2;
    grid-column: 1;
  }
}

@media screen and (min-width: 660px) {
  .list_of_projects {
    display: grid;
    justify-content: center;
  }

  .profile {
    width: 200px;
  }

  .profile_and_content {
    display: grid;
    grid-template-columns: 215px auto;
  }

  .profile_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .profile_picture_and_about_me_sections {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 890px) {
  .project_2, .project_3 {
    margin-top: 30px;
  }
}

@media screen and (min-width: 890px) {

  .main_content{
    width:100%;
  }

  .project_1 {
    grid-row: 2;
    padding-right: 10px;
  }

  .project_2 {
    grid-row: 2;
    grid-column: 2;
  }

  .project_3 {
    grid-row: 3;
    margin-top: 30px;
  }
}


@media screen and (min-width: 1235px) {
  body {
    width: 1235px;
    margin-left: auto;
    margin-right: auto;
  }

  .list_of_projects {
    display: grid;
    grid-column-gap: 17px;
  }

  .project_1 {
    grid-column: 1;
    grid-row: 1;
    padding-right: 0px;
  }

  .project_2 {
    grid-column: 2;
    grid-row: 1;
  }

  .project_3 {
    grid-column: 3;
    grid-row: 1;
    margin-top: 0px;
  }

  .profile_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .profile_picture_and_about_me_sections {
    flex-wrap: wrap;
  }
}
