body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.google-font-fleur {
  font-family: "Fleur De Leah";
}

.shadow-bottom {
  -moz-box-shadow: 0 4px 6px -6px gray;
  -webkit-box-shadow: 0 4px 6px -6px gray;
  box-shadow: 0 4px 6px -6px gray;
}

.shadow-top {
  -moz-box-shadow: 0 -4px 6px -6px gray;
  -webkit-box-shadow: 0 -4px 6px -6px gray;
  box-shadow: 0 -4px 6px -6px gray;
}

.shadow-around {
  -webkit-box-shadow: 0px 0px 5px 0px rgb(128, 128, 128);
  -moz-box-shadow: 0px 0px 5px 0px rgb(128, 128, 128);
  box-shadow: 0px 0px 5px 0px rgb(128, 128, 128);
}

.project-custom-grid {
  display: grid;
  grid-template-columns: auto;
}

.project-responsive-width {
  width: 18rem;
}

.experience-detail-animation-height {
  height: 0%;
}

@media only screen and (min-width: 640px) {
  .experience-container-custom-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .experience-container-details-custom-grid-item {
    grid-area: 1 / 1 / 2 / 2;
  }

  .experience-container-logo-custom-grid-item {
    grid-area: 1 / 2 / 2 / 3;
  }
}

@media only screen and (min-width: 700px) {
  .project-custom-grid {
    grid-template-columns: auto auto;
    width: 38rem;
  }
}

@media only screen and (min-width: 900px) {
  .project-responsive-width {
    width: 22rem;
  }
  .project-custom-grid {
    width: 46rem;
  }
}

@media only screen and (min-width: 1150px) {
  .project-custom-grid {
    grid-template-columns: auto auto auto;
    width: 69rem;
  }
}

@media only screen and (max-width: 420px) {
  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (max-width: 315px) {
  .font-size-on-mobile {
    font-size: 12px;
    line-height: 1rem;
  }
  .project-responsive-width {
    width: 280px;
  }
}

@media (min-width: 316px) and (max-width: 640px) {
  .font-size-on-mobile {
    line-height: 1.5rem;
  }
}

@media only screen and (min-width: 640px) {
  .right-border {
    border-right: 1px solid;
    border-right-color: rgba(108, 108, 108, 0.642);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
